<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cardiacmonitor">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Cardiac Recorder App"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.CardiacMonitor">
        <activity
            android:name=".RecordsActivity"
            android:exported="false"
            android:label="Records"
            android:theme="@style/Theme.CardiacMonitor"
            />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="true"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>